p{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    margin-bottom: 600px;
}
a{
    
    margin-left: 100px;
    margin-right:100px ;
    margin-top: 20px;
    color: black;
   
}
img:hover{
cursor: pointer;

}

.total-header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

  

.header{
    display: flex;
    flex-direction: row;
    background-color:#0078ad;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 0px;
    margin-right: 0px;
    
}

.left-section{
   
   flex: 1fr;
    height: 100%;
    margin-left: 0px;
    display: flex;
    align-items: center;
}
.logo-text{
   font-weight: 800;
   font-size: 40px;
   margin-left: 30px;
}

.middle-section{
   
    display: flex;
    flex: 1fr;
    margin-left: 40px;
    margin-right: 50px;
    max-width: 500px;
    align-items: center;
    
}

.search{
    flex: 1fr;
    height: 55px;
    padding-left: 10px;
    font-size: 28px;
   
    border-radius: 20px;
}

.search-button{
    height: 58px;
    width: 60px;
    border-width: 2px;
    border-color: black;
    border-style: bold;
    background-color: white;
    margin-right: 10px;
    margin-left: -2px;
    
    border-radius: 10px;
}
.search-button:hover{
    opacity: 0.8;
   
}
.voice-button{
    height: 58px;
    width: 58px;
    border-width: -1px;
   border-radius: 30px;
    background-color: white;
    
    color: white;
}

.right-section{
    
    display: flex;
    width: 400px;
    height: 100%;
    margin-right: 0;
    align-items: center;
}
.profile-logo{
    height: 70px;
    width: 60px;
   
}
.login{
    padding-right: 50px;
    font-size: 30px;
    margin-left: 5px;
}

.cart-logo{
    height: 70px;
    width: 60px;

}
.cart{
    font-size: 30px;
    margin-left: 5px;
}

.header2{
    display: flex;
    height: 70px;
    flex-direction: row;
    flex: 1fr;
    flex-wrap: wrap;
    background-color: darkblue;
    margin-right: 0;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
   font-weight: 700;
   color: white;
   
}

.main2{
    display: flex; 
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.main3{
    display: flex;
    flex: 1fr;

}

.main4{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 200px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.list1{
    color: white;

}

.footer{
    margin-left: 0px;
    background-color: black;
    display: flex;
    height: 200px;
   
    color: white;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 70px;
}

.list-header{
    font-weight: 700;
    font-size: 25px;
    margin-left: 0px;
    margin-right: 10px;
}




